.center-aligned-flex {
    display: flex;
    align-items: center;
}

.centered {
    justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 600px) auto auto;
    gap: 20px;
}

.right-aligned {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-aligned {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-voting-grid {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    row-gap: 10px;
}

.main-summary-voting-grid {
    display: grid;
    grid-template-columns: minmax(auto, 600px);
    row-gap: 10px;
}

.button {
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-color: rgb(22, 113, 232);
    color: white;
    margin: 10px;
    padding: 10px;
    border: 0px;
}

.button:active {
    transform: translateY(2px);
    border-width: 3px;
}

.button:hover {
    background-color: rgb(22, 113, 200);
}

.error {
    color: red;
}

.session-button {
    background-color: transparent;
    cursor: pointer;
    margin: 0px;
    border: 0;
}

.message-text {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-self: center;
}

.close-button {
    font-size: 20px;
    border: 1px solid;
    border-radius: 10px;
    padding-top: 0px;
    margin: 3px;
    line-height: 100%;
    align-self: flex-start;
    cursor: pointer;
}

.close-div::before {
    display: inline-block;
    content: "\00d7";
}

.option {
    font-weight: normal;
}

.voting-info {
    color: red;
}

.key {
    color: rgb(22, 113, 232);
}

.code {
    border: 2px solid rgb(22, 113, 232);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.loader {
    border: 4px solid white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

.large-loader {
    border: 4px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

.loader-colors {
    border-left-color: #00000000;
    border-bottom-color: #f99a9a;
    border-top-color: #f99a9a;
    border-right-color: #00000000;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.voting-option {
    flex: 1 1 0;
    padding: 5px;
}

@media (min-width: 600px) {
    .voting-option {
        flex: 1 1 0;
        padding: 5px;
    }
}