nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    background-color: black;
}

.nav-left {
    color: black;
    justify-self: center;
    align-self: start;
}

.nav-center {
    padding: 1em;
    color: black;
    justify-self: center;
    align-self: center;
}
.nav-right {
    padding: 1em;
    color: black;
    justify-self: end;
    align-self: start;
}

.nav-a {
    text-decoration: none;  
}