:root {
    --main-bg-color: rgb(239, 240, 241);
    --content-bg-color: white;
    --voting-button-color:  hsl(211, 68%, 59%);
    --voted-button-color: hsl(211, 73%, 38%);
    --nav: rgba(31, 162, 223, 0.307); 
  }

.standard-body {
    background-color: var(--main-bg-color);
    font-family: sans-serif;
}

.standard-nav {
    background: var(--nav);
}

.standard-nav-left {
    color: white;
}

.standard-nav-center {
    color: black;
}
.standard-nav-right {
    color: white;
}

.standard-nav-a {
    text-decoration: none;  
}

.standard-content-box {
    background-color: var(--content-bg-color);
}

.standard-container {
    border: 1px solid var(--nav);
    background-color: var(--content-bg-color);
}

.standard-voting-button {
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0px solid black;
    background-color: var(--voting-button-color);
    color: white;
    overflow-wrap:normal;
}

.standard-voting-button-disactivated {
    font-size: 14px;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
    border: 0px solid black;
    background-color: var(--content-bg-color);
    color:var(--content-bg-color);
    overflow-wrap:normal;
}

.standard-voting-button:active {
    transform: translateY(2px);
    border-width: 0px;
}

.standard-voted {
    background-color: var(--voted-button-color);
    color: white;
}

.standard-voting-button-div {
    margin: 3px;
    background-color:var(--content-bg-color);
    width: fit-content;
}

.standard-voting-button-div-disactivated {
    margin: 3px;
    background-color:var(--content-bg-color);
    width: fit-content;
}

.standard-summary-voting-box {
    border: 1px solid var(--nav);
}

.standard-voting-box {
    border: 1px solid var(--nav);
}