.voting-button {
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px;
    padding: 10px;
    border: 0px solid black;
    background-color: rgb(52, 134, 249);
    color: white;
    overflow-wrap:normal;
}

.voting-button:active {
    transform: translateY(2px);
    border-width: 0px;
}

.voted {
    background-color: hsl(247, 91%, 36%);
    color: white;
}

